* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

header {
    padding: 40px 30%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none; 
    display: inline-block; 
    transition: .2s; 
}

header a:hover {
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.parte-de-cima-do-site {
    margin: 0 auto;
}

.parte-de-cima-do-site .txt-parte-de-cima-do-site h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 20px 0; 
}

.parte-de-cima-do-site .img-parte-de-cima-do-site img {
    width: 400px;
    border-radius: 50%;
}

.sobre-mim h1{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 20px 0; 
}


/* Estilo para a seção "Sobre Mim" */
.sobre-mim {
    padding: 100px 0;
}

.sobre-mim-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}

.sobre-mim h2 {
    font-size: 30px; 
    color: #fff; 
    margin-bottom: 15px; 
}

.sobre-mim p {
    font-size: 16px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* Estilo para a seção "Sobre Mim" */
.formacao {
    padding: 10px 0; 
}

.formacao-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

.formacao h3 {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 15px; 
}

.formacao p {
    font-size: 16px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* Estilo para a seção "Projetos" */
.projetos {
    padding: 100px 0; 
}

.projetos-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

.projetos h4 {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 15px; 
}

.projetos p {
    font-size: 20px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}