* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

header {
    padding: 40px 30%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none; 
    display: inline-block; 
    transition: .2s; 
}

header a:hover {
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.parte-de-cima-do-site {
    margin: 0 auto;
}

.parte-de-cima-do-site .txt-parte-de-cima-do-site h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 20px 0; 
}

.parte-de-cima-do-site .img-parte-de-cima-do-site img {
    width: 400px;
    border-radius: 50%;
}

.sobre-mim h1{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 20px 0; 
}


/* Estilo para a seção "Sobre Mim" */
.sobre-mim {
    padding: 80px 4%; 
}

.sobre-mim-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}

.sobre-mim h2 {
    font-size: 30px; 
    color: #fff; 
    margin-bottom: 15px; 
}

.sobre-mim p {
    font-size: 16px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* Estilo para a seção "Sobre Mim" */
.formacao {
    padding: 80px 4%; 
}

.formacao-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

.formacao h3 {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 15px; 
}

.formacao p {
    font-size: 16px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* Estilo para a seção "Projetos" */
.projetos {
    padding: 80px 4%; 
}

.projetos-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

.projetos h4 {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 15px; 
}

.projetos p {
    font-size: 20px; 
    color: #fff; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* Inicio do Formulario */
section.formulario{
    padding: 80px 4%;
}

.formulario-conteudo {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

.formulario h5 {
    font-size: 30px;
    color: #fff; 
    margin-bottom: 20px;    
}


form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-width: 500px;
}

form .botao-enviar{
    margin-top: 5px;
    text-align: center;
}

form .botao-enviar input{
    width: 120px;
    font-weight: 700;
    cursor: pointer;
}

form .botao-enviar input:hover{
    transform: scale(1.10);
}

/* ------------- Inicio Footer rodapé ------------- */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
    height: 10rem;
    width: 100%;

}

.social {

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social span {
    display: flex;
    margin-bottom: .2rem;
    align-items: center;
}

.social img {
    margin: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}
.social p{
    color: #fff;
}


